
<h1>Please fill in the form.</h1>
@Lab20UserRegistration.Models.CoffeeShopDBEntities
<form action="/home/Register" method="post">
    First Name<br />  <input type="text" name="FirstName" pattern="^[A-Za-z]{1,100}$" required /><br /><br />
    Last Name<br />  <input type="text" name="LastName" pattern="^[A-Za-z]{1,100}$" required /><br /><br />
    Email<br /> <input type="email" name="Email" /><br /><br />
    Phone Number<br /> <input type="number" name="PhoneNumber" pattern="^[0-9]{10,11}$" required /><br /><br />
    Password<br /> <input type="password" name="Password" pattern="^[a-z0-9_-]{8,30}$" required /><br /><br />
    <input type="submit" value="Register" />

</form>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    @foreach (var Coffee in ViewBag.Item)
    {
        <tr>
            <td>
                @Coffee.Name
            </td>
            <td>
                @Coffee.Description
            </td>
            <td>
                @Coffee.Price
            </td>
        </tr>        
     }
</table>